.sidebar {
    margin-top: 40px;
}

.actions {
    text-align: center;
}

#single-day {
    display: initial;
}

#rental-gear {
    display: none;
}

.admin-col-width {
    width: 40%;
}

.admin-price-col-width {
    width: 5%;
}

.admin-action-col-width {
    width: 15%;
}