/* RESPONSIVE MENU */
@media screen and (max-width: 1100px) {
  
  header {
    text-align: center;
  }

  .head-ssi-logo {
    text-align: center;
  }

  #home-container {
    width: 100%;
    line-height: 1.2;
  }
  
  .carousel-inner {
    display: none;
  }
   #footer-container {
    padding: 5px 15px 5px 15px; 
   }
   
   .ssi-nitrox-logos {
     text-align: center;
   }
/* Typical panel header */  
  
  .partial-header {
    height: 100%;
    color: #000;
  }
   
}


@media screen and (max-width: 1024px) {
  
/* Typical panel header */  
  
  .partial-header {
    height: 50px;
  }

  .partial-header-page-title {
    text-align: center;
    font-size: 100%;
    padding: 27px 0 0 0;
  }

  .partial-header-page-identifier {
    text-align: center;
    padding: 27px 0 0 0;
  }

  .about-pictures {
    padding-top: 15px;
  }
}

@media screen and (max-width: 736px) {
  
/* Typical panel header */  
  
  .partial-header {
    height: 100%;
  }

  .body-content {
    padding: 0;
    text-align: center;
  }

  .partial-header-page-title {
    text-align: center;
    font-size: 120%;
    padding: 27px 0 0 0;
  }

  .partial-header-page-identifier {
    text-align: center;
    padding: 27px 0 0 0;
  }

  .about-pictures {
    padding-top: 15px;
  }

  .photo-gallery {
     text-align: center !important;
   }

}



@media screen and (max-width: 570px) {
  
/* Typical panel header */  
  
  .partial-header {
    height: 100%;
  }
  
  .body-content {
    padding: 0;
    text-align: center;
  }

  .partial-header-page-title {
    text-align: center;
    font-size: 120%;
    padding: 27px 0 0 0;
  }

  .partial-header-page-identifier {
    text-align: center;
    padding: 27px 0 0 0;
  }

  .about-pictures {
    padding-top: 15px;
  }


.photo-gallery {
   text-align: center !important;
 }
 

  .polaroid {
    position: relative;
    width: 200px;
  }

  .polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
       -moz-box-shadow: 3px 3px 3px #777;
            box-shadow: 3px 3px 3px #777;
  }

  .polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    font: 400 18px/1 'Kaushan Script', cursive;
    color: #888;
  }

  .content {
    width: 145px !important;
    margin: 20px auto 0 auto;
    text-align: center;
  }

    .typical-image {
    width: 100%;
    border: 1px solid #000;
    }
}
