.tab-content-modified {
  background-color: #fff !important;
  padding: 0 30px 15px 30px !important;
}

.col-description {
  text-align: left;
  border-bottom: 1px solid #b2b2b2;
}

.col-price {
  text-align: left;
  border-bottom: 1px solid #b2b2b2;
}

.pricing-text {
  text-align: justify;
  margin-top: 15px;
  margin-left: -15px !important;
}

.pricing-text-left {
  text-align: justify;
  margin-top: 15px;
  // padding-left: 30px;
}