$dark-color: #0D0C52;
$panel-body-color: #5f2c43;
$font-family-grand-title: "Times New Roman", "Times New Roman", "Times", serif;
$font-grand-title-color: #9BCAF2;
$body-font-color: #999;
$bold-font-color: #5f2c43;
$design-borders: 1px solid red;
$panel-body-color: #252463;
$font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-carousel-text: "Comic Sans MS", "Comic Sans MS", cursive;
$menu-background-color: #9BCAF2;
$anchor-tag-color: #BD2031;
$black-color: #000C0B;
$white-color: #fff;
$panel-header-color: #9BCAF2;
$page-title-font-family: 'Lobster', cursive;
$font-family-rochester: 'Rochester', cursive;
$danger: #f41414;

@import "base";
@import "menu";
@import "reef_map";
@import "gallery";
@import "booking";
@import "policies";
@import "tabs";
@import "booking";
@import "responsive";


td { vertical-align: top }

.front-page-image {
    width: 100%;
}


/*
input[type='checkbox'] {
    -webkit-appearance:none;
    width:19px;
    height:19px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

input[type='checkbox']:checked {
  background: url(images/check.png) 0 -1px no-repeat;
  height: 16px;
  padding: 0 0 0 18px;
}
*/
// styleing for the checkboxes move this shit to it's own file!!!
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  background: $panel-body-color;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

// only above, stay away from shit below


.input-xlg {
  height: 34px;
}

.test {
  border: $design-borders;
}

a span {
 color: $anchor-tag-color;
}

body{
    margin: 0;
    min-height: 800px;
    background: url('../images/bg_galaxy_underwater.jpg') no-repeat center center fixed; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: $dark-color !important; 
    padding: 10px;
}

.validation-danger {
    color: $danger;
}

.typical-image {
  width: 100%;
  border: 1px solid #000;
  padding: 5px;
  //margin: 15px;
}

.panel-special {
  width: 100%;
}

.dive-button {
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4285;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
}

.weather-line-margin {
  margin: 8px 0 8px 0;
}

.center-it {
  text-align: center;
}

.left-it {
  text-align: left;
}

.right-it {
  text-align: right;
}

.weather-text {
  font-size: 80%;
}

.current-weather-celsius,
.current-weather-farenheit {
  font-size: 95%;
}

.weather-icon-big {
  color: #f3c56e;
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 5px #fcf3e2;
}

.weather-icon-small {
  color: #f3c56e;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 5px #fcf3e2;
}

.degree-scale {
  font-size: 15px;
}

.center-table {
  margin: auto;
}

table {
  width: 100%;
}

.col {
  padding: 0 5px 0 5px;
}

.col-price {
    border: 1px solid #999 !important;
    padding: 5px;
}

.col-description {
    border: 1px solid #999;
    padding: 5px;
}

.pad-top {
  padding-top: 15px;
}

.shadow {
  box-shadow: 0 4px 5px -4px #AED8F2;
  -moz-box-shadow: 0 4px 5px -4px #AED8F2;
  -webkit-box-shadow: 0 4px 5px -4px #AED8F2;
}

.general-line-brake {
  border-top: 1px solid #999;
  margin-top: 0;
  margin-bottom: 0;
}

.index-panel {
  width: 100%;
  font-size: 1.1em;
  font-family: $font-family;
  color: $body-font-color;
  border-radius: 10px;
  background-color: $dark-color;
  margin: 45px 0 45px 0;
  // top: 45px;
  // bottom: 45px;
}
.page-title {
  color: $bold-font-color;
}

.panel-body-style {
  background-color: $panel-body-color !important; 
}
.panel-header-style {
  background-color: #406089;
  height: 50px;
}

.style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(155, 202, 242, 1), rgba(0, 0, 0, 0));
}


header {
  //border-bottom: $design-borders;
}

.image-container {
 // display: inline-block;
 // position: relative;
 // top: -40px;
 // z-index: 99;
}

.brand-image {
  width: 330px;
  margin-top: 10px;
}



/* HOME PAGE */
/* TODO must fix this carousel ASAP, it is all messed up. i think what I need to do is make the pictrues the size i want them..also the pictrues go away on ipad no good*/
/* #carousel-example-generic { */
/*     width: 800px; */
/*     height: 400px; */
/* } */
.carousel-image {
}

.slick-slide img {
    margin: auto;
}

#home-container {
  text-align: center;
  width: 100%;
  margin: 15px auto;
  padding: 0 15px 0 15px;
}

.ssi-logo {
  height: 65px;
  padding: 10px;
}

#about {
  text-align: justify;
}

.about-title {
  font-family: $font-family-grand-title;
  color: $font-grand-title-color;
  text-align: center;
  font-size: 175%;
}

// CAROUSEL 
#carousel-example-generic {
  max-width: 940px;
  margin: auto;
  -webkit-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
}

.item {
  width: 940px !important;
}

.carousel-caption {
  display: none;
  font-size: 300%;
  font-family: $font-family-carousel-text;
  color: $panel-body-color !important;
}

.carousel-indicators {
  display: none;
}

/*CONTENT*/ 
.content-title {
  color: $font-grand-title-color;
  font-size: 140%;
  padding-top: 25px;
}

.content-body {
  text-align: justify;
  height: 100%;
  color: $body-font-color;
}

/* FOOTER */

footer {
  
}

#footer-container {
  border-top: 3px solid $font-grand-title-color;
  padding-top: 10px;
}

.footer-col-title {
  color: #3C7D38;
  font-style: italic;
}

.trip-advisor-logo {
  text-align: center;
}

.trip-advisor-img {
  height: 50px;
}

.reviews p {
  color: #999;
  font-style: italic;
}

#weather {
  text-align: center;
  margin-bottom: 15px;
}

#social {
  padding: 15px;
}

.nitrox-logo {
  width: 65px;
}

.social-icon-facebook {
  color: #3B579D;
  padding-top: 15px;
}

.social-icon-twitter {
  color: #2AAAE0;
}

.email-us {
  padding-top: 15px;
}

.email-us p {
  margin: 0 0 0;
}

.copy-right {
  text-align: center;
  font-size: 75%;
}

// below is stuff for my checkbox styling needs to go into it's own file

input {
    margin: 20px;
}

input[type=checkbox]:checked ~ div label{
    background: url(http://ramyasspace.files.wordpress.com/2011/06/tick.jpg);
    background-size: 100%;
}

label {
    background: #ddd;
    height: 20px;
    width: 20px;
    display: block;
/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #C7C7C7 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #C7C7C7 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #C7C7C7 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #C7C7C7));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #C7C7C7 100%);

/* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top left, #FFFFFF 0%, #C7C7C7 100%);

}
label:hover {/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom right, #FFFFFF 0%, #8FECFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom right, #FFFFFF 0%, #8FECFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom right, #FFFFFF 0%, #8FECFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #8FECFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom right, #FFFFFF 0%, #8FECFF 100%);

/* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top left, #FFFFFF 0%, #8FECFF 100%);}
