<div id="page-container" class="shadow row">
  <div class="partial-header">
    <div class="col-sm-9 partial-header-page-title">
      {{ aboutCozumel.panelTitle }}
    </div>
    <div class="col-sm-3 partial-header-page-identifier">
      {{ aboutCozumel.pageIdentifier }}
    </div>
  </div>
  <div class="body-content">
    <div class="row">
      <div class="col-sm-6">
        <p class="body-text">
        Cozumel Island Mexico is like no other Island in the world and many agree that it’s the most magnificent and charming vacation destination in Mexico. Cozumel Island is the #1 scuba diving and snorkeling destination in the world with its magnificent colorful coral reefs which are part of the Mesoamerican Barrier Reef System, the second largest in the world. Cozumel has the most vibrant white sand beaches that are united with the greatest dazzling crystal blue Caribbean Ocean. <br> Cozumel weather is unquestionably astonishing, since the temperature is continuously warm and sensational all year round with outstanding ocean temperatures of no less than 77* F. Cozumel’s weather isn’t the only thing that makes Cozumel the best island destination in the world but is a huge plus. 
        </p>
      </div>
      <div class="col-sm-6 center-it">
        <img class="about-pictures" src="images/carnival-cozumel.jpg" alt="carnival">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 center-it">
        <img class="about-pictures" src="images/food.jpg" alt="Food">
      </div>
      <div class="col-sm-6">
        <p class="body-text pad-top">
          Cozumel is actually one of the safest places in Mexico, and some say Cozumel is the safest vacation destination in the world. This is what makes Cozumel Island so unique and gives visitors the ability to get out of the resort and tourist areas and enjoy the splendors of what Cozumel Mexico has to offer. As soon as you step off the plane at Cozumel’s Airport or journey from Playa Del Carmen on the ferry, you’ll feel a charming sensational warm vibe, as the sun thaws your body from the cold wintery weather of the north. You'll then realize why so many choose Cozumel Mexico as their main travel destination, and why so many make the move to vacation here permanently. 
        </p>
      </div>
    </div>
  </div>
</div>
