<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 main">
            <h1 class="page-header">Dashboard</h1>
            <form name="outerForm" class="tab-form-demo">
                <uib-tabset active="activeForm">
                    <!-- <uib-tab index="0" heading="Form Tab"> -->
                    <!-- <ng-form name="nestedForm"> -->
                    <!-- <div class="form-group"> -->
                    <!-- <label>Name</label> -->
                    <!-- <input type="text" class="form-control" required ng-model="model.name"/> -->
                    <!-- </div> -->
                    <!-- </ng-form> -->
                    <!-- </uib-tab> -->
                    <uib-tab index="1" heading="Single Day Rates">
                        <div class="slide-animate" ng-include="admin.singleDay"></div>
                    </uib-tab>
                    <uib-tab index="2" heading="Rental Gear Rates">
                        <div class="slide-animate" ng-include="admin.rentalGear"></div>
                    </uib-tab>
                    <uib-tab index="3" heading="Training Rates">
                        <div class="slide-animate" ng-include="admin.training"></div>
                    </uib-tab>
                    <uib-tab index="4" heading="Specialties Rates">
                        <div class="slide-animate" ng-include="admin.specialties"></div>
                    </uib-tab>
                    <uib-tab index="4" heading="Miscellaneous Rates">
                        <div class="slide-animate" ng-include="admin.miscellaneous"></div>
                    </uib-tab>
                </uib-tabset>
            </form>
        </div>
    </div>
</div>
