<div id="page-container" class="shadow row">
  <div class="partial-header">
    <div class="col-sm-9 partial-header-page-title">
      {{ pricing.panelTitle }}
    </div>
    <div class="col-sm-3 partial-header-page-identifier">
      {{ pricing.pageIdentifier }}
    </div>
  </div>
  <div class="body-content">
    
    <div class="row">
      <div class="col-sm-12 center-it">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a data-target="#diving" data-toggle="tab">Diving</a></li>
          <li><a data-target="#training" data-toggle="tab">Training</a></li>
          <li><a data-target="#specialties" data-toggle="tab">Specialties</a></li>
          <li><a data-target="#policies" data-toggle="tab">Policies</a></li>
        </ul>

        <div class="tab-content tab-content-modified">
          <div class="tab-pane active row" id="diving">
            <div class="row">
              <div class="col-md-4">
                <img class="typical-image" src="images/fish.jpg" alt="Kim and fish 250x333">
              </div>
              <div class="col-md-8 pricing-text">
                <p>
                  Scuba Diving with Dive GalaxSea in Cozumel Mexico, is the most flexible scuba diving excursion you'll ever enjoy. We cater to each individual diver, by giving them the most unique, exciting, safe, and customizable dive-tour in Isla Cozumel. Our guests come first and we venture Cozumel Coral Reefs to explore the most thrilling and mesmerizing dive sites in Cozumel. We are here to help you spend your Cozumel vacation wisely, the way you like. For a detail description of each Cozumel Coral Reef site and Dive Site, check out our Interactive Reef and Dive Site Map.
                </p>
                <p>
                  Cozumel reefs and shallow coral formations that extend from the southern tip of the magnificent island to just south of the art filled, unique and friendly San Miguel on the west coast is fantastic for Snorkeling Tours and Scuba Diving Tours. Two Main Coral Reef systems surround Cozumel Island, which are Colombia reef and Palancar reef easily reachable starting at around 30 feet (9 meters). Chankanaabs Lagoon offers Cozumel snorkelers and Cozumel scuba divers a much more accessible coral and limestone formation approximately as shallow as 6- 30 feet (2-9 meters). Come safely experience the best dive exploration with our trusted Dive team and have the best time of your life with Dive GalaxSea!
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-info">
                  <div class="panel-heading">Single Day Rates</div>
                  <div class="panel-body">
                    <div class="slide-animate" ng-include="pricing.diving"></div>
                  </div>
              </div>
              <p>Tanks, weights, belts are included.</p>
              <p>* Prices do not include {{pricing.park_fee | currency}} Marine Park Fee per day and tips for the crew...</p>
            </div>
            <div class="col-md-6">
              <div class="panel panel-info">
                <div class="panel-heading">Gear Rental</div>
                  <div class="panel-body">
                    <div class="slide-animate" ng-include="pricing.rental"></div>
                  </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="training">Training</div>
          <div class="tab-pane" id="specialties">Specialties</div>
          <div class="tab-pane" id="policies">We need some Policies</div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
$(function () {
    $('#myTab a:first').tab('show');
});
  
</script>
