<div class="row">
<div class="col-md-8">
  <p class="left-it">
    {{ idx.date | date: 'fullDate' }}<br>
    Humidity: {{humidity}}%<br>
    Temperature: {{ currentTemp }}<br>
    Feels Like: {{ feelsLike }}<br>
    Wind Speed: {{windSpeed}}<br>
  </p>
</div>
<div class="col-md-4">
  <table>
    <tr class="">
      <td class="col">
      {{idx.currentWeather[0].maxtempF}}&#8457;</td>
    </tr>
    <tr class="">
      <td class="col" ><p class="weather-icon-big" ng-bind-html="idx.currentWeather[0].weatherCode"></p></td>
    </tr>
    <tr class="">
      <td class="col">
      {{idx.currentWeather[0].mintempF}}&#8457;</td>
    </tr>
  </table>
</div> 
</div>

<hr class="style weather-line-margin">
<!--TODO this does not work at the momment there is now a logo in this spot-->
<div class="weeks-weather row">
  <div class="col-md-12">
    <table>
      <tr>
        <td class="col" ng-repeat='day in idx.daysOfTheWeek'>
          {{day.weekDay}}
        </td>
      </tr>
      <tr>
        <td class="col" ng-repeat='day in idx.daysOfTheWeek'>
          <div class="weather-text">
            {{day.maxtempF}}&#8457; 
          </div>
        </td>
      </tr>
      <tr>
        <td class="col" ng-repeat='day in idx.daysOfTheWeek'>
          <div class="weather-text">
            <p class="weather-icon-small" ng-bind-html="day.weatherCode"></p>
          </div>
        </td>
      </tr>
      <tr>
        <td class="col" ng-repeat='day in idx.daysOfTheWeek'>
          <div class="weather-text">
            {{day.mintempF}}&#8457;
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>




