<div id="page-container" class="shadow row">
  <div class="partial-header">
    <div class="col-sm-9 partial-header-page-title">
      {{ gallery.panelTitle }}
    </div>
    <div class="col-sm-3 partial-header-page-identifier">
      {{ gallery.pageIdentifier }}
    </div>
  </div>
  <div class="body-content">
    <div class="row photo-gallery">
      <div class="col-md-6 col-md-offset-3">
        <div class="polaroid">
           <h1>{{gallery.picOfTheMonth.title}}</h1>
           <p>"{{gallery.picOfTheMonth.description}}"</p>
           <img class="picture-of-month" src="{{gallery.picOfTheMonth.src}}" alt="Picture">
         </div>
        <i></i>
      </div>
      <div class="col-sm-12">
        <div class="content">
          <ng-gallery images="gallery.images"></ng-gallery>
          <small>Click</small> <i class="fa fa-hand-o-up"></i>
        </div>  
      </div>
    </div>
  </div>
</div>
