<div id="page-container" class="shadow row">
  <div class="partial-header">
    <div class="col-sm-9 partial-header-page-title">
      {{ reefMap.panelTitle }}
    </div>
    <div class="col-sm-3 partial-header-page-identifier">
      {{ reefMap.pageIdentifier }}
    </div>
  </div>
  <div class="body-content">
    <div class="row">
      <div class="col-sm-4 flags">
        <img class="dive-flag" src="images/dive-flag-large.gif" alt="Diving Flag">
      </div>
      <div class="col-sm-4 flags">
       <img class="mexican-flag" src="images/Mexrep-vc1.jpg" alt="Mexican Flag">
      </div>
      <div class="col-sm-4 flags">
        <a href="https://www.diversalertnetwork.org/" target="_blank">
          <img class="ssi-logo" src="images/dan-logo.png" alt="Diving Flag">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 center-it">
        <img class="dive-sites" src="images/dive-sites.jpg" alt="Map of dive sites in Cozumel">
      </div>
    </div>
  </div>
</div>
