<div id="page-container" class="shadow row">
  <div class="partial-header">
    <div class="col-sm-9 partial-header-page-title">
      {{ reservation.panelTitle }}
    </div>
    <div class="col-sm-3 partial-header-page-identifier">
      {{ reservation.pageIdentifier }}
    </div>
  </div>
  <div class="body-content">
    <div class="row">
      <div class="col-sm-12">
        <form name="reservation.userInformation" novalidate class="user-information">
          First Name:<br>
          <input type="text" ng-model="reservation.user.firstName" /><br />
          Last Name:<br>
          <input type="text" ng-model="reservation.user.lastName" /><br />
          E-mail:<br>
          <input type="email" ng-model="reservation.user.email" /><br />
          Phone Number:<br>
          <input name="phone" ng-model="reservation.user.phone" ui-mask="{{'(999) 999-9999'}}" type="text"/><br />

          <br />
<!-- Date picker -->
        <div class="date-picker">
          <div class="row">
            <div class="col-md-6">
              <uib-datepicker ng-model='reservation.activeDate' multi-select='reservation.selectedDates' select-range='{{reservation.type=="range"}}'></uib-datepicker>
            </div>
            <div class="">
                Selected Dates:
                <div class='col-md-6 well well-sm'>
                  <div ng-repeat='d in reservation.selectedDates | orderBy'>
                    <div class="col-sm-8">
                    {{d | date : 'fullDate'}}
                    </div>
                    <div class="col-sm-4">
                      <button class='btn btn-xs btn-warning' style='margin:5px' ng-click='reservation.removeFromSelected(d)'>Remove</button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
                <!-- <div class='panel'><h3>Selection Type:</h3>
                  <div class='btn-group'>
                    <button class='btn btn-primary' ng-model='reservation.type' uib-btn-radio='"individual"'>Individual</button>
                    <button class='btn btn-primary' ng-model='reservation.type' uib-btn-radio='"range"'>Range</button>
                  </div>
                </div> -->
                <!-- <table>
                  <tr>
                    <td>
                      <uib-datepicker ng-model='reservation.activeDate' multi-select='reservation.selectedDates' select-range='{{reservation.type=="range"}}'></uib-datepicker>
                    </td>
                    <td style='width:50px'>
                    </td>
                    <td>
                      <div ng-if='reservation.type=="individual"'>
                        Selected Dates:
                        <div class='well well-sm'>
                          <div ng-repeat='d in reservation.selectedDates | orderBy'>
                            {{d | date : 'fullDate'}}
                            <button class='btn btn-xs btn-warning' style='margin:5px' ng-click='reservation.removeFromSelected(d)'>Remove</button>
                          </div>
                        </div>
                      </div> -->

                      <!-- <div ng-if='reservation.type=="range"' >
                        Selected Range: 
                        <div class='well well-sm'>
                          {{(reservation.selectedDates | orderBy)[0] | date:"fullDate"}}
                          <span ng-if='reservation.selectedDates.length > 1'>
                            - {{(reservation.selectedDates | orderBy : '-')[0] | date:"fullDate"}}
                          </span>
                        </div>
                      </div> -->
                  <!--   </td>
                  </tr> 
                </table> -->


         
          <input type="button" class="btn btn-sm btn-danger" ng-click="reservation.reset()" value="Reset" />
          <input type="submit" class="btn btn-sm btn-success" ng-click="reservation.saveData(user)" value="Save" />
        </form>
        <pre>user = {{reservation.user | json}}</pre>
        <pre>user = {{reservation.selectedDates | json}}</pre>
      </div>
    </div>
  </div>
</div>
