<div id="page-container" class="shadow row">
  <div class="partial-header">
    <div class="col-sm-9 partial-header-page-title">
      {{ reservation.panelTitle }}
    </div>
    <div class="col-sm-3 partial-header-page-identifier">
      {{ reservation.pageIdentifier }}
    </div>
  </div>
  <div class="body-content">
    <div class="row">
      <div class="col-sm-12 center-it">
        <form name="reservation.userInformation" novalidate class="user-information">
          First Name: <input type="text" ng-model="reservation.user.firstName" /><br />
          Last Name: <input type="text" ng-model="reservation.user.lastName" /><br />
          E-mail: <input type="email" ng-model="reservation.user.email" /><br />
          Phone Number: <input name="phone" ng-model="reservation.user.phone" ui-mask="{{'(999) 999-9999'}}" type="text"/><br />

          <br />
<!-- Date picker -->
          <pre>Selected Start date is: <em>{{startDate | date:'fullDate' }}</em></pre>
          <pre>Selected End date is: <em>{{endDate | date:'fullDate' }}</em></pre>

          
            <div class="row">
              <div class="col-md-6">
              <h4>Starting Diving</h4>
                <p class="input-group">
                  <input type="text" class="form-control input-xlg" uib-datepicker-popup="{{format}}" ng-model="reservation.user.startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <div class="col-md-6">
              <h4>End Diving</h4>
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="reservation.user.endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>

            <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
            <hr />
         
          <input type="button" class="btn btn-sm btn-danger" ng-click="reservation.reset()" value="Reset" />
          <input type="submit" class="btn btn-sm btn-success" ng-click="reservation.saveData(user)" value="Save" />
        </form>
        <pre>user = {{reservation.user | json}}</pre>
      </div>
    </div>
  </div>
</div>
