<div id="page-container" class="shadow row">
  <div class="partial-header">
    <div class="col-sm-9 partial-header-page-title">
      {{ reservation.panelTitle }}
    </div>
    <div class="col-sm-3 partial-header-page-identifier">
      {{ reservation.pageIdentifier }}
    </div>
  </div>
  <div class="body-content">
    <form name="reservation.userInformation" novalidate class="user-information">
    <h3>
      Personal information
    </h3>
      <div class="row">
        <div class="col-sm-12">
          First Name:<br>
          <input type="text" ng-model="reservation.user.firstName" /><br />
          Last Name:<br>
          <input type="text" ng-model="reservation.user.lastName" /><br />
          E-mail:<br>
          <input type="email" ng-model="reservation.user.email" /><br />
          Phone Number:<br>
          <input name="phone" ng-model="reservation.user.phone" ui-mask="{{'(999) 999-9999'}}" type="text"/><br />
          Number of Divers in your Group:<br>
          <input name="numberOfDivers" ng-model="reservation.user.numberOfDivers" /><br />
          What is the name of the Resort you are staying at:<br>
          <input name="resort" ng-model="reservation.user.resort" /><br />
        </div><!-- end of col-sm-12 -->
      </div>
      <br>
      <h3>
        Select the type of diving you will be doing.
      </h3>
      <p>(check all that apply)</p>
      <div class="row">
        <div class="col-sm-4">
          <p>Diving</p>
          <p ng-repeat="dive in reservation.diving">
            <input checklist-model="reservation.user.selectedDiving" checklist-value="dive" type="checkbox" id="{{dive.title}}" />
            <label for="{{dive.title}}" style="width: 100%">{{dive.title}}</label>
          </p>
        </div>
        <div class="col-sm-6">
          <p>Training</p>
          <p ng-repeat="course in reservation.training">
            <input checklist-model="reservation.user.selectedTraining" checklist-value="course" type="checkbox" id="{{course.title}}" />
            <label for="{{course.title}}" style="width: 100%">{{course.title}}</label>
          </p>
        </div>
        <div class="col-sm-2">
          <!-- left empty on purpose -->
        </div>
      </div>

      <!-- Date picker -->
      <div class="row">
        <div class="col-sm-12">
          <div class="date-picker">
            <h3>
              Please select all dates you would like to dive.
            </h3>
            <br>
            <div class="row">
              <div class="col-md-6">
                <uib-datepicker ng-model='reservation.activeDate' multi-select='reservation.user.selectedDates' select-range='{{reservation.type=="range"}}'></uib-datepicker>
              </div>
              <div class="" ng-show="reservation.user.selectedDates.length > 0">
                Selected Dates:
                <div class='col-md-6 well well-sm'>
                  <div ng-repeat='d in reservation.user.selectedDates | orderBy'>
                    <div class="col-sm-8">
                      {{d | date : 'fullDate'}}
                    </div>
                    <div class="col-sm-4">
                      <button class='btn btn-xs btn-warning' style='margin:5px' ng-click='reservation.removeFromSelected(d)'>Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>
            Leave us a personal message.
          </h3>
         <textarea id="message" name="message" ng-model="reservation.user.message"  placeholder="Leave us a personal message..." cols="80" rows="10"></textarea>
        </div>
      </div>

      <div class="booking-buttons">
        <input type="button" class="btn btn-sm btn-danger" ng-click="reservation.reset()" value="Reset" />

        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#confirm">Confirm</button>
      </div>
    </form>
  </div>
</div>

<div id="confirm" class="modal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Please verify your information</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Personal Information:</h4>
            <table>
              <tr class="row">
                <td class="col">First Name:</td>
                <td class="col">{{reservation.user.firstName}}</td>
              </tr>
              <tr class="row">
                <td class="col">Last Name</td>
                <td class="col">{{reservation.user.lastName}}</td>
              </tr>
              <tr class="row">
                <td class="col">Number of Divers:</td>
                <td class="col">{{reservation.user.numberOfDivers}}</td>
              </tr>
              <tr class="row">
                <td class="col">Phone Number:</td>
                <td class="col">{{reservation.user.phone}}</td>
              </tr>
              <tr class="row">
                <td class="col">Email:</td>
                <td class="col">{{reservation.user.email}}</td>
              </tr>
              <tr class="row">
                <td class="col">We are staying at:</td>
                <td class="col">{{reservation.user.resort}}</td>
              </tr>
            </table>
            <hr>
            <h4>The Days Diving:</h4>
            <table>
              <tr class="row" ng-repeat="date in reservation.user.selectedDates">
                <td class="col">{{ date | date : 'fullDate' }}</td>
              </tr>
            </table>
            <hr>

            <h4>Type Of Diving:</h4>
            <div class="row">
              <div class="col-sm-6 diving">
                <h5>Diving</h5>
                <table>
                  <tr class="row" ng-repeat="dive in reservation.user.selectedDiving">
                    <td class="col">{{ dive.title }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-6 training">
                <h5>Training</h5>
                <table>
                  <tr class="row" ng-repeat="train in reservation.user.selectedTraining">
                    <td class="col">{{ train.title }}</td>
                  </tr>
                </table>
              </div>
            </div>

            <hr>
            <h4>Addition Information for DiveGalaxsea:</h4>
            <table>
              <tr class="row">
                <td class="col">{{ reservation.user.message }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Edit</button>
        <input type="submit" class="btn btn-sm btn-success" data-dismiss="modal" ng-click="reservation.saveData()" value="Save" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
