$dark-color: #0D0C52;
$font-family-grand-title: "Times New Roman", "Times New Roman", "Times", serif;
$font-grand-title-color: #9BCAF2;
$body-font-color: #999;
$design-borders: 1px solid #002B51;
$panel-body-color: #E1E9F0;
$font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-carousel-text: "Comic Sans MS", "Comic Sans MS", cursive;
$menu-background-color: #9BCAF2;
$anchor-tag-color: #BD2031;
$black-color: #000C0B;
$white-color: #fff;
@import 'menu'

#page-container {
  height: 400px;
}

.test {
  border: $design-borders;
}

a span {
 color: $anchor-tag-color;
}

body{
    margin: 0;
    min-height: 800px;
    background: url('../images/bg_galaxy_underwater.jpg') no-repeat center center fixed; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: $dark-color !important; 
}

.shadow {
  box-shadow: 0 4px 5px -4px #AED8F2;
  -moz-box-shadow: 0 4px 5px -4px #AED8F2;
  -webkit-box-shadow: 0 4px 5px -4px #AED8F2;
  
}

hr.general-line-brake {
  border-top: 1px solid #999;
  margin-top: 0;
  margin-bottom: 0;
}

.index-panel {
  width: 100%;
  font-size: 1.1em;
  font-family: $font-family;
  color: $body-font-color;
  border-radius: 10px;
  background-color: $dark-color;
  margin: 45px 0 45px 0;
  opacity: 0.8;
  // top: 45px;
  // bottom: 45px;
}

.style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(155, 202, 242, 1), rgba(0, 0, 0, 0));
}

header {
  //border-bottom: $design-borders;
}

.image-container {
 // display: inline-block;
 // position: relative;
 // top: -40px;
 // z-index: 99;
}

.brand-image {
  width: 330px;
  margin-top: 10px;
}

// MENU BELOW  - - - - - - - - - - - - - - - - - - - - - - 
/* nav */
// .main-navigation {
//   margin-top: 25px;
// }

// ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
//  // background: #E1E9F0;
// }

// ul li {
//   display: block;
//   position: relative;
//   float: left;
//   //background: #E1E9F0;
// }

// /* This hides the dropdowns */


// li ul { display: none; }

// ul li a {
//   display: block;
//   padding: 5px;
//   text-decoration: none;
//   white-space: nowrap;
//   color: $font-grand-title-color;
// }

// ul li a:hover { 
//   background: $menu-background-color;
//   color: $black-color;
// }

// /* Display the dropdown */


// li:hover > ul {
//   display: block;
//   position: absolute;
// }

// li:hover li { float: none; }

// li:hover a { background: $menu-background-color;
//              color: $black-color;
//            }

// li:hover li a:hover { background: $menu-background-color;
//                       color: $black-color;
//                     }

// .main-navigation li ul li { border-top: 0;
//                             z-index: 1000; }

// /* Displays second level dropdowns to the right of the first level dropdown */


// ul ul ul {
//   left: 100%;
//   top: 0;
// }

// /* Simple clearfix */

// ul:before,
// ul:after {
//   content: " "; /* 1 */
//   display: table; /* 2 */
// }

// ul:after { clear: both; }

/* HOME PAGE */

#home-container {
  text-align: center;
  width: 940px;
  margin: 60px auto;
  padding: 0 15px 0 15px;
}

.ssi-logo {
  height: 65px;
  padding: 10px;
}

#about {
  text-align: justify;
}

.about-title {
  font-family: $font-family-grand-title;
  color: $font-grand-title-color;
  text-align: center;
  font-size: 175%;
}

// CAROUSEL 
#carousel-example-generic {
  -webkit-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
}

.carousel-caption {
  display: none;
  font-size: 300%;
  font-family: $font-family-carousel-text;
  color: $panel-body-color !important;
}

.carousel-indicators {
  display: none;
}

/*CONTENT*/ 
.content-title {
  color: $font-grand-title-color;
  font-size: 145%;
  padding-top: 25px;
}

.content-body {
  text-align: justify;
  height: 100%;
  color: $body-font-color;
}

/* FOOTER */

footer {
  
}

#footer-container {
  border-top: 3px solid $font-grand-title-color;
  padding-top: 10px;
}

.review-us p{
  color: #3C7D38;
  font-style: italic;
}

.trip-advisor-logo {
  text-align: center;
}

.trip-advisor-img {
  height: 50px;
}

.reviews p {
  color: #999;
  font-style: italic;
}

#weather {
  text-align: center;
}

#social {
  padding: 15px;
}

.nitrox-logo {
  width: 65px;
}

.social-icon-facebook {
  color: #3B579D;
  padding-top: 15px;
}

.social-icon-twitter {
  color: #2AAAE0;
}

.email-us {
  padding-top: 15px;
}

.email-us p {
  margin: 0 0 0;
}

.copy-right {
  text-align: center;
  font-size: 75%;
}




/* RESPONSIVE MENU */
@media screen and (max-width: 1200px) {
  header {
    text-align: center;
  }

  .head-ssi-logo {
    text-align: center;
  }

  #home-container {
    width: 100%;
  }
  
  .carousel-inner {
    display: none;
  }
   #footer-container {
    padding: 5px 15px 5px 15px; 
   }
   
   .ssi-nitrox-logos {
     text-align: center;
   }
/* menu below */  

  
}
