.test {
  border: 1px solid #002B51;
}

a span {
  color: #BD2031;
}

body {
  margin: 0;
  min-height: 800px;
  background: url("../images/bg_galaxy_underwater.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #0D0C52 !important;
}

.shadow {
  box-shadow: 0 4px 5px -4px #AED8F2;
  -moz-box-shadow: 0 4px 5px -4px #AED8F2;
  -webkit-box-shadow: 0 4px 5px -4px #AED8F2;
}

hr.general-line-brake {
  border-top: 1px solid #999;
  margin-top: 0;
  margin-bottom: 0;
}

.index-panel {
  width: 100%;
  font-size: 1.1em;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #999;
  border-radius: 10px;
  background-color: #0D0C52;
  margin: 45px 0 45px 0;
  opacity: 0.8;
}

.style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #9bcaf2, transparent);
}

header {
  height: 80px;
}

.brand-image {
  width: 330px;
  margin-top: 10px;
}

/* nav */
.main-navigation {
  margin-top: 25px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: block;
  position: relative;
  float: left;
}

/* This hides the dropdowns */
li ul {
  display: none;
}

ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  white-space: nowrap;
  color: #9BCAF2;
}

ul li a:hover {
  background: #9BCAF2;
  color: #000C0B;
}

/* Display the dropdown */
li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li {
  float: none;
}

li:hover a {
  background: #9BCAF2;
  color: #000C0B;
}

li:hover li a:hover {
  background: #9BCAF2;
  color: #000C0B;
}

.main-navigation li ul li {
  border-top: 0;
  z-index: 1000;
}

/* Displays second level dropdowns to the right of the first level dropdown */
ul ul ul {
  left: 100%;
  top: 0;
}

/* Simple clearfix */
ul:before,
ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

ul:after {
  clear: both;
}

/* HOME PAGE */
#home-container {
  text-align: center;
  width: 940px;
  margin: 60px auto;
}

.ssi-logo {
  height: 65px;
  padding: 10px;
}

#about {
  text-align: justify;
}

.about-title {
  font-family: "Times New Roman", "Times New Roman", "Times", serif;
  color: #9BCAF2;
  text-align: center;
  margin-top: 30px;
  font-size: 175%;
}

#carousel-example-generic {
  box-shadow: 10px 10px 28px -10px rgba(0, 0, 0, 0.75);
}

.carousel-caption {
  display: none;
  font-size: 300%;
  font-family: "Comic Sans MS", "Comic Sans MS", cursive;
  color: #E1E9F0 !important;
}

.carousel-indicators {
  display: none;
}

/*CONTENT*/
.content-title {
  color: #9BCAF2;
  font-size: 150%;
}

.content-body {
  text-align: justify;
  height: 100%;
  color: #fff;
}

/* FOOTER */
#footer-container {
  border-top: 3px solid #9BCAF2;
  padding-top: 10px;
}

.review-us p {
  color: #3C7D38;
  font-style: italic;
}

.trip-advisor-logo {
  text-align: center;
}

.trip-advisor-img {
  height: 50px;
}

.reviews p {
  color: #999;
  font-style: italic;
}

#weather {
  text-align: center;
}

#social {
  padding: 15px;
}

.nitrox-logo {
  width: 65px;
  margin-left: 25%;
}

.social-icon-facebook {
  color: #3B579D;
  padding-top: 15px;
}

.social-icon-twitter {
  color: #2AAAE0;
}

.email-us {
  padding-top: 15px;
}

.email-us p {
  margin: 0 0 0;
}

.copy-right {
  text-align: center;
  font-size: 75%;
}

/* RESPONSIVE MENU */
@media screen and (max-width: 1200px) {
  header {
    text-align: center;
  }

  /* menu below */
}

/*# sourceMappingURL=main.css.map */
