@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#page-container {
  border: none;
  margin: 15px 0 30px 0;
  box-shadow: 10px 10px 28px -10px rgba(0, 0, 0, 0.75);
}

.partial-header {
  height: 50px;
  background-color: #9BCAF2;
  color: #000;
}

.partial-header-page-title {
  text-align: left;
  font-family: "Lobster", cursive;
  font-size: 125%;
  padding: 25px 0 0 0;
}

.partial-header-page-identifier {
  text-align: right;
  padding: 25px 0 0 0;
}

.body-content {
  background-color: #252463;
  padding: 30px;
  text-align: justify;
  box-shadow: 1px 3px 2px #252463;
}

.about-pictures {
  width: 100%;
}

.booking-course-title {
  padding: 5px;
}

textarea {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  z-index: 1;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu #menu-button {
  display: none;
}

#cssmenu {
  font-family: Montserrat, sans-serif;
}

#cssmenu > ul > li {
  float: left;
}

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}

#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}

#cssmenu.align-center ul ul {
  text-align: left;
}

#cssmenu.align-right > ul > li {
  float: right;
}

#cssmenu > ul > li > a {
  padding: 17px 10px 17px 0px;
  font-size: 80%;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase;
}

#cssmenu > ul > li:hover > a {
  color: #ffffff;
}

#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  transition: all .25s ease;
}

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}

#cssmenu.align-right ul ul {
  text-align: right;
}

#cssmenu ul ul li {
  height: 0;
  transition: all .25s ease;
}

#cssmenu li:hover > ul {
  left: auto;
}

#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}

#cssmenu li:hover > ul > li {
  height: 35px;
}

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}

#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}

#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  transition: all .25s ease;
}

#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}

#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

.menu-nav-bar {
  padding-left: 150 !important;
}

@media all and (max-width: 850px) {
  #cssmenu {
    width: 100%;
    background: #0D0C52;
  }

  #cssmenu ul {
    width: 100%;
    display: none;
  }

  #cssmenu.align-center > ul {
    text-align: left;
  }

  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }

  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }

  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }

  #cssmenu > ul > li {
    float: none;
  }

  #cssmenu ul ul li a {
    padding-left: 25px;
  }

  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }

  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }

  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }

  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }

  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }

  #cssmenu #menu-button {
    display: block;
    padding: 17px 0px 17px 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }

  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }

  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }

  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }

  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }

  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }

  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }

  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }

  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }

  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }

  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }

  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}
.flags {
  text-align: center;
}

.mexican-flag, .dive-flag, .ssi-logo {
  height: 72px;
}

.dive-sites {
  margin: 15px;
  width: 75%;
  box-shadow: 5px 5px 15px -2px rgba(204, 142, 142, 0.8);
}

.picture-of-month {
  width: 100%;
  border: 1px solid #000;
  padding: 5px;
}

.personal-information {
  padding-bottom: 10px;
}

input.ng-invalid {
  background-color: pink;
}

input.ng-valid {
  background-color: lightgreen;
}

.date-picker-title {
  margin: 15px 0 15px 0;
}

.booking-buttons {
  margin: 15px 0 15px 0;
  text-align: center;
}

#policies {
  padding-top: 15px;
}

.rules-image {
  width: 100%;
}

.tab-content-modified {
  background-color: #252463 !important;
  padding: 0 30px 15px 30px !important;
}

.col-description {
  text-align: left;
  border-bottom: 1px solid #b2b2b2;
}

.col-price {
  text-align: left;
  border-bottom: 1px solid #b2b2b2;
}

.pricing-text {
  text-align: justify;
  margin-top: 15px;
  margin-left: -15px !important;
}

.pricing-text-left {
  text-align: justify;
  margin-top: 15px;
}

.personal-information {
  padding-bottom: 10px;
}

input.ng-invalid {
  background-color: pink;
}

input.ng-valid {
  background-color: lightgreen;
}

.date-picker-title {
  margin: 15px 0 15px 0;
}

.booking-buttons {
  margin: 15px 0 15px 0;
  text-align: center;
}

.sidebar {
  margin-top: 40px;
}

.actions {
  text-align: center;
}

#single-day {
  display: initial;
}

#rental-gear {
  display: none;
}

.admin-col-width {
  width: 40%;
}

.admin-price-col-width {
  width: 5%;
}

.admin-action-col-width {
  width: 15%;
}

/* RESPONSIVE MENU */
@media screen and (max-width: 1100px) {
  header {
    text-align: center;
  }

  .head-ssi-logo {
    text-align: center;
  }

  #home-container {
    width: 100%;
    line-height: 1.2;
  }

  .carousel-inner {
    display: none;
  }

  #footer-container {
    padding: 5px 15px 5px 15px;
  }

  .ssi-nitrox-logos {
    text-align: center;
  }

  /* Typical panel header */
  .partial-header {
    height: 100%;
    color: #000;
  }
}
@media screen and (max-width: 1024px) {
  /* Typical panel header */
  .partial-header {
    height: 50px;
  }

  .partial-header-page-title {
    text-align: center;
    font-size: 100%;
    padding: 27px 0 0 0;
  }

  .partial-header-page-identifier {
    text-align: center;
    padding: 27px 0 0 0;
  }

  .about-pictures {
    padding-top: 15px;
  }
}
@media screen and (max-width: 736px) {
  /* Typical panel header */
  .partial-header {
    height: 100%;
  }

  .body-content {
    padding: 0;
    text-align: center;
  }

  .partial-header-page-title {
    text-align: center;
    font-size: 120%;
    padding: 27px 0 0 0;
  }

  .partial-header-page-identifier {
    text-align: center;
    padding: 27px 0 0 0;
  }

  .about-pictures {
    padding-top: 15px;
  }

  .photo-gallery {
    text-align: center !important;
  }
}
@media screen and (max-width: 570px) {
  /* Typical panel header */
  .partial-header {
    height: 100%;
  }

  .body-content {
    padding: 0;
    text-align: center;
  }

  .partial-header-page-title {
    text-align: center;
    font-size: 120%;
    padding: 27px 0 0 0;
  }

  .partial-header-page-identifier {
    text-align: center;
    padding: 27px 0 0 0;
  }

  .about-pictures {
    padding-top: 15px;
  }

  .photo-gallery {
    text-align: center !important;
  }

  .polaroid {
    position: relative;
    width: 200px;
  }

  .polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    box-shadow: 3px 3px 3px #777;
  }

  .polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px;
    font: 400 18px/1 'Kaushan Script', cursive;
    color: #888;
  }

  .content {
    width: 145px !important;
    margin: 20px auto 0 auto;
    text-align: center;
  }

  .typical-image {
    width: 100%;
    border: 1px solid #000;
  }
}
.label-title {
  font-weight: 900;
}

td {
  vertical-align: top;
}

.front-page-image {
  width: 100%;
  height: 220px;
}

/*
input[type='checkbox'] {
    -webkit-appearance:none;
    width:19px;
    height:19px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

input[type='checkbox']:checked {
  background: url(images/check.png) 0 -1px no-repeat;
  height: 16px;
  padding: 0 0 0 18px;
}
*/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  background: #252463;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9 !important;
}

.input-xlg {
  height: 34px;
}

.test {
  border: 1px solid red;
}

a span {
  color: #BD2031;
}

body {
  margin: 0;
  min-height: 800px;
  background: url("../images/bg_galaxy_underwater.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #0D0C52 !important;
  padding: 10px;
}

.validation-danger {
  color: #f41414;
}

.typical-image {
  width: 100%;
  border: 1px solid #000;
  padding: 5px;
}

.panel-special {
  width: 100%;
}

.dive-button {
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4285;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
}

.weather-line-margin {
  margin: 8px 0 8px 0;
}

.center-it {
  text-align: center;
}

.left-it {
  text-align: left;
}

.right-it {
  text-align: right;
}

.weather-text {
  font-size: 80%;
}

.current-weather-celsius,
.current-weather-farenheit {
  font-size: 95%;
}

.weather-icon-big {
  color: #f3c56e;
  font-size: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 5px #fcf3e2;
}

.weather-icon-small {
  color: #f3c56e;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 1px 1px 5px #fcf3e2;
}

.degree-scale {
  font-size: 15px;
}

.center-table {
  margin: auto;
}

table {
  width: 100%;
}

.col {
  padding: 0 5px 0 5px;
}

.col-price {
  border: 1px solid #999 !important;
  padding: 5px;
}

.col-description {
  border: 1px solid #999;
  padding: 5px;
}

.pad-top {
  padding-top: 15px;
}

.shadow {
  box-shadow: 0 4px 5px -4px #AED8F2;
  -moz-box-shadow: 0 4px 5px -4px #AED8F2;
  -webkit-box-shadow: 0 4px 5px -4px #AED8F2;
}

.general-line-brake {
  border-top: 1px solid #999;
  margin-top: 0;
  margin-bottom: 0;
}

.index-panel {
  width: 100%;
  font-size: 1.1em;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #999;
  border-radius: 10px;
  background-color: #0D0C52;
  margin: 45px 0 45px 0;
}

.page-title {
  color: #5f2c43;
}

.panel-body-style {
  background-color: #252463 !important;
}

.panel-header-style {
  background-color: #406089;
  height: 50px;
}

.style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #9bcaf2, transparent);
}

.brand-image {
  width: 330px;
  margin-top: 10px;
}

/* HOME PAGE */
/* TODO must fix this carousel ASAP, it is all messed up. i think what I need to do is make the pictrues the size i want them..also the pictrues go away on ipad no good*/
/* #carousel-example-generic { */
/*     width: 800px; */
/*     height: 400px; */
/* } */
.slick-slide img {
  margin: auto;
}

#home-container {
  text-align: center;
  width: 100%;
  margin: 15px auto;
  padding: 0 15px 0 15px;
}

.ssi-logo {
  height: 65px;
  padding: 10px;
}

#about {
  text-align: justify;
}

.about-title {
  font-family: "Times New Roman", "Times New Roman", "Times", serif;
  color: #9BCAF2;
  text-align: center;
  font-size: 175%;
}

#carousel-example-generic {
  max-width: 940px;
  margin: auto;
  box-shadow: 10px 10px 28px -10px rgba(0, 0, 0, 0.75);
}

.item {
  width: 940px !important;
}

.carousel-caption {
  display: none;
  font-size: 300%;
  font-family: "Comic Sans MS", "Comic Sans MS", cursive;
  color: #252463 !important;
}

.carousel-indicators {
  display: none;
}

/*CONTENT*/
.content-title {
  color: #9BCAF2;
  font-size: 140%;
  padding-top: 25px;
}

.content-body {
  text-align: justify;
  height: 100%;
  color: #999;
}

/* FOOTER */
#footer-container {
  border-top: 3px solid #9BCAF2;
  padding-top: 10px;
}

.footer-col-title {
  color: #3C7D38;
  font-style: italic;
}

.trip-advisor-logo {
  text-align: center;
}

.trip-advisor-img {
  height: 50px;
}

.reviews p {
  color: #999;
  font-style: italic;
}

#weather {
  text-align: center;
  margin-bottom: 15px;
}

#social {
  padding: 15px;
}

.nitrox-logo {
  width: 65px;
}

.social-icon-facebook {
  color: #3B579D;
  padding-top: 15px;
}

.social-icon-twitter {
  color: #2AAAE0;
}

.email-us {
  padding-top: 15px;
}

.email-us p {
  margin: 0 0 0;
}

.copy-right {
  text-align: center;
  font-size: 75%;
}

input {
  margin: 20px;
}

input[type=checkbox]:checked ~ div label {
  background: url(http://ramyasspace.files.wordpress.com/2011/06/tick.jpg);
  background-size: 100%;
}

label {
  background: #ddd;
  height: 20px;
  width: 20px;
  display: block;
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top left, #FFFFFF 0%, #C7C7C7 100%);
}

label:hover {
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top left, #FFFFFF 0%, #8FECFF 100%);
}

/*# sourceMappingURL=main.css.map */
