<table>
  <tr>
    <td class="col-description">
      2 - Tank Boat Dive:
    </td>
    <td class="col-price">
      {{pricing.currentPricingDiving.two_tank | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      3 - Tank Boat Dives:
    </td>
    <td class="col-price">
      {{pricing.currentPricingDiving.three_tank | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      Night Dive:
    </td>
    <td class="col-price">
      {{pricing.currentPricingDiving.night_dive | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      Bubble Watcher
    </td>
    <td class="col-price">
      {{pricing.currentPricingDiving.bubble_watcher | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      Private Charter (Maximum 6 Divers):
    </td>
    <td class="col-price">
      {{pricing.currentPricingDiving.private_charter | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      Private Dive Master:
    </td>
    <td class="col-price">
      {{pricing.currentPricingDiving.private_charter | currency}}
    </td>
  </tr>
</table>

