<div id="policies">
  <p>
    Dive Galaxsea can't thank you enough for your business. We are committed to providing premium diving or snorkeling experience. To continue to provide you with the quality of service that is expected, please understand and respect our policies as well as those of the National Coral Reef Park of Cozumel.
  </p>
  <div class="row">
    <div class="col-md-12">
      <h2>Dive Galaxsea policies</h2>
      <p>
        <ul>
          <li>Do you collect deposits per person?</li>
          <li>When is the remaining balance do? and what forms of payment do you accept?</li>
          <li>When is payment due?</li>
          <li>WHAT ELSE DO YOU WANT HERE?</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Refunds and Cancellations</h2>
      <p>
        <ul>
          <li>Cancellations due to bad weather - Captain of the Port determines when the harbor is closed not DiveGalaxsea.</li>
          <li>Cancellations made less than 24 hours of dive, full payment is required (no refunds.</li>
          <li>Cancellations made less than 2 weeks of dive date or 'no shows' deposit is non-refundable.</li>
          <li>If you don't show up, full payment is required we could have given that spot to someone else.</li>
          <li>Once we are out no refunds for returned trips due to sea sickness, inability to equalize or diving one tank versus the planned two or three.</li>
          <li>NEED TO KNOW YOUR CANCELLATION POLICIES FOR NIGHT DIVES AS WELL.. JUST CANCELLATION POLICIES IN GENERAL.</li> </ul>
      </p>
    </div>
  </div>
</div>
