<table>
  <tr>
    <td class="col-description">
      Complete Set (BCD, Regulator, Mask and Fins):
    </td>
    <td class="col-price">
      {{pricing.currentPricingRental.complete_set | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      BCD:
    </td>
    <td class="col-price">
      {{pricing.currentPricingRental.bcd | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      Regulator:
    </td>
    <td class="col-price">
      {{pricing.currentPricingRental.regulator | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      Wetsuit:
    </td>
    <td class="col-price">
      {{pricing.currentPricingRental.wetsuit | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      Mask and Fins
    </td>
    <td class="col-price">
      {{pricing.currentPricingRental.mask_fins | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      Light:
    </td>
    <td class="col-price">
      {{pricing.currentPricingRental.light | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      Nitrox Tank:
    </td>
    <td class="col-price">
      {{pricing.currentPricingRental.nitrox | currency}}
    </td>
  </tr>
  <tr>
    <td class="col-description">
      100 CC Tank:
    </td>
    <td class="col-price">
      {{pricing.currentPricingRental.cc_tank | currency}}
    </td>
  </tr>
</table>