<div class="tab-pane active row" id="training">
  <div class="">
    <div class="col-md-4">
      <img class="typical-image" src="images/training.jpg" alt="Kim and students 250x333">
    </div>
    <div class="col-md-8 pricing-text">
      <p>
        Our Cozumel dive courses are available, across all levels. From absolute beginner divers to professional divers,  you will learn under the careful care of our highly skilled and experienced SSI Certified Dive Instructors. A variety of courses and advice are available to suit your needs. As a certified diver we help you to maximize your skills and adventure level, while upgrading your certificate level.
      </p>
      <p>
        Our Scuba Dive Courses go beyond all other Dive Operators, to give you the most interactive fun filled learning and adventure scuba diving excursion available, discovering the most magnificent #1 Coral Reefs right here in the Caribbean Sea of Cozumel Mexico.
      </p>
    </div>
  </div>
  
  <div class="">
    <div class="col-md-8 pricing-text-left">
      <p>
        Our courses are offered on a private or semi-private basis, fully tailored to the most unique vacation schedules. Our Goal at Dive Galaxsea is to create a competent, knowledgeable Diver. Our Scuba Diving in Cozumel consist of, private diving  instruction, rental gear, dive tanks, diving weights, BCD, Dive Regulator, Diving Mask, Dive Fins, Snorkel, wet suit (if needed), Scuba Diving Certification fees, Personal Log Book, Diving Text Book, and RDP (Dive Planner). With  Absolutely NO HIDDEN FEES. If you select to use E-Learning there will  be an additional charge of $65 on your Cozumel Open Water Course. Come Dive Cozumel, and see for yourself what the excitement is about when  diving with Dive GalaxSea!
      </p>
    </div>
    <div class="col-md-4">
      <img class="typical-image" src="images/teaching.jpg" alt="Kim and student 250x333">
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">Training</div>
        <div class="panel-body">
          <table>
            <tr>
              <td class="col-description">
               Scuba Diver Course: 
              </td>
              <td class="col-price">
                {{pricing.trainingPricing.scuba_diver_course | currency}}
              </td>
            </tr>
            <tr>
              <td class="col-description">
               Open Water Diver Certification: 
              </td>
              <td class="col-price">
                {{pricing.trainingPricing.open_water_certification | currency}}
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Open Water Certification PLUS:<br>
                (Includes Nitrox Certification)
              </td>
              <td class="col-price">
                {{pricing.trainingPricing.open_water_certification_plus | currency}}
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Open Water Referral 
              </td>
              <td class="col-price">
                {{pricing.trainingPricing.open_water_referral | currency}}
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Advanced Adventurer:<br>
                (Number of required dives logged, varies depending on the specialties selected)
              </td>
              <td class="col-price">
                {{pricing.trainingPricing.advanced_adventurer | currency}}
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Advanced Open Water Diver:<br>
                (Number of required dives logged, varies depending on the specialties selected)
              </td>
              <td class="col-price">
                {{pricing.trainingPricing.advanced_open_water | currency}}
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Scuba Skills Update:<br>
              </td>
              <td class="col-price">
                {{pricing.trainingPricing.scuba_skills_update | currency}}
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">Specialties</div>
        <div class="panel-body">
          <table>
            <tr>
              <td class="col-description">
               Boat Diving 
              </td>
              <td class="col-description">
                $ - Contact Us
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Deep Diving
              </td>
              <td class="col-description">
                $ - Contact Us
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Navigation
              </td>
              <td class="col-description">
                $ - Contact Us
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Night Diving and Limited Visibility
              </td>
              <td class="col-description">
                $ - Contact Us
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Nitrox EAN
              </td>
              <td class="col-description">
                $ - Contact Us
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Perfect Buoyancy
              </td>
              <td class="col-description">
                $ - Contact Us
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Science of Diving
              </td>
              <td class="col-description">
                $ - Contact Us
              </td>
            </tr>
            <tr>
              <td class="col-description">
                Stress Rescue
              </td>
              <td class="col-description">
                $ - Contact Us 
              </td>
            <tr>
              <td class="col-description">
                Snorkeling: 
              </td>
              <td class="col-price">
                {{pricing.trainingPricing.snorkeling | currency}}
              </td>
            </tr>
            <tr>
              <td class="col-description-no-line">
                Try Scuba Diving: 
              </td>
            </tr>
            <tr>
              <td class="col-description">
                &nbsp;&nbsp;&nbsp;Beach - 1 Tank: 
              </td>
              <td class="col-price">
                {{pricing.trainingPricing.try_scuba.beach_one_tank | currency}}
              </td>
            </tr>
            <tr>
              <td class="col-description">
                &nbsp;&nbsp;&nbsp;Boat - 2 Tank:
              </td>
              <td class="col-price">
                {{pricing.trainingPricing.try_scuba.boat_two_tank | currency}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
    <p>
      * Specialties: Prices vary and include online course materials, academic reviews, and open water dives (if required) 
    </p>
</div>
