<h2 class="sub-header">Single Day Rates</h2>
<table class="table table-striped" style="background-color: #e5e5e5">
  <thead>
    <tr>
      <th>partial</th>
      <th>Description</th>
      <th>Price</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="price in admin.currentPricingDiving">
      <td class="admin-col-width">{{price.title}}</td>
      <td class="admin-col-width">{{price.description}}</td>
      <td class="admin-price-col-width">{{price.price}}</td>
      <td class="actions admin-action-col-width"><span class="btn btn-sm btn-primary" ng-click="editPrice(price, 'Divings')">Edit</span> <span class="btn btn-sm btn-danger">Delete</span></td>
  </tbody>
</table>
